google-api-python-client>=2.22.0
people_also_ask>=0.0.6
spacy>=3.1.2
spacy-legacy==3.0.8
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.1.0/en_core_web_lg-3.1.0-py3-none-any.whl
pyfiglet==0.8.post1
PyMuPDF==1.18.19
wordcloud==1.8.1
matplotlib==3.4.3
python-docx==0.8.11
Flask==2.0.2
Flask-Cors==3.0.10
python-pptx==0.6.21